/**
 * Module description:   src/components/Gallery/GalleryItem/index.scss
 *
 * Created on 26/11/2018
 * @author Alexander. E. Fedotov
 * @email <alexander.fedotov.uk@gmail.com>
 */

.visible img {
  animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
}

.element {
  display: inline-block;
  position: absolute;
  background: #1d1e22;
  user-select: none;
  animation: fadeIn 1s;
}

.selected {
  box-sizing: border-box;
  border: #0074D9 2px solid;
}

.element img {
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
