/* add css module styles here (optional) */

/**
 * Module description:   src/components/Gallery/index.js
 *
 * Created on 16/11/18
 * @author Alexander. E. Fedotov
 * @email <alexander.fedotov.uk@gmail.com>
 */

/* TODO: pass this styling into child */
.gallery {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: content-box;
  background: #0f0f10;
}

.error {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 1em 0;
  font-size: 2em;
}
